<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>It takes 75,000 trees to print a Sunday Edition of the New York Times.</string>
	<string>The 14 warmest years on record have all occurred since 1980.</string>
	<string>Americans use over 80,000,000,000 aluminum pop cans every year.</string>
	<string>Americans throw away 10 times their own weight in garbage every year.</string>
	<string>Recycling just one aluminum can save enough energy to power a television for three hours.</string>
	<string>If one ton of paper gets recycled, it saves 4,100 kilowatts of energy, 17 trees and 60 pounds of air pollution.</string>
	<string>American throw away 25,000,000,000 Styrofoam coffee cups every year.</string>
	<string>Every year enough trash is carried down the Los Angeles River to fill the Rose Bowl.</string>
	<string>Americans use 2,500,000 plastic bottles every hour. Most of them are thrown away.</string>
	<string>An aluminum can that is thrown away will still be a can 500 years from now.</string>
	<string>Every day in the U.S., we produce enough trash to equal the weight of the Empire State Building.</string>
	<string>Americans throw away 570 disposable diapers each second.</string>
	<string>Each year Americans fill enough garbage trucks to stretch from Earth halfway to the moon.</string>
	<string>Americans toss out enough aluminum cans to rebuild our commercial air fleet every three months.</string>
	<string>Increasing steel recycling by 50 percent would save the energy equivalent to seven nuclear power plants.</string>
	<string>The amount of wood and paper Americans throw away each year is enough to heat 50,000,000 homes for 20 years.</string>
</array>
</plist>
